@font-face {
    font-family : "Lato";
    src : url("../font/Lato/Lato-Regular.woff"), url("../font/Lato/Lato-Regular.ttf") format('truetype'), url("../font/Lato/Lato-Regular.otf") format('opentype');
    src : url("../font/Lato/Lato-Bold.woff"), url("../font/Lato/Lato-Bold.woff") format('truetype'), url("../font/Lato/Lato-Bold.otf") format('opentype');
    src : url("../font/Lato/Lato-Italic.woff"), url("../font/Lato/Lato-Italic.ttf") format('truetype'), url("../font/Lato/Lato-Italic.otf") format('opentype');
    font-family : "Raleway";
    src : url("../font/Raleway/Raleway-Regular.woff"), url("../font/Raleway/Raleway-Regular.ttf") format('truetype'), url("../font/Raleway/Raleway-Regular.otf") format('opentype');
    src : url("../font/Raleway/Raleway-Bold.woff"), url("../font/Raleway/Raleway-Bold.woff") format('truetype'), url("../font/Raleway/Raleway-Bold.otf") format('opentype');
    src : url("../font/Raleway/Raleway-Italic.woff"), url("../font/Raleway/Raleway-Italic.ttf") format('truetype'), url("../font/Raleway/Raleway-Italic.otf") format('opentype');
    }
   /* mise en place grille + cadre CV */
   #CV-container {
    display: grid;
    width: 1160px;
    height: auto;
    grid-template-areas: 
      "name name"
      "contact contact"
      "about experience"
      "sns sns";
    
    grid-template-rows:auto 1fr 1160px;
    margin: auto;
    border-right: #000000 solid ;
   }
  
   /* formattage nom + photo */
    #name {
      height: 100%;
      grid-area: name;
      background-color: #782221;
      color: #ffffff
    }
  
    .photo{
      border-radius: 50%;
      max-width: 90px;
      margin: auto;
      display: block;
      margin-top: 50px;
    }
    
    .fontname{
      font-family: 'Lato';
      font-style: normal;
      text-align: center;
    }
  
   /* formattage infos contact */
    #contact {
      grid-area: contact;
      height: 90px;
      background-color: #000000;
    }
  
    .contactinfo{
      list-style-type: none;
      align-items: center;
      display: flex;
      flex-direction: row;
    }
  
    a{
      color:#ffffff;
      text-decoration: none;
    }
  
    ul{
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  
    /* formattage experience */
    #experience {
      width: 800px;
      height: auto;
      grid-area: experience;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
    }
  
    /* formattage colonne A propos */
    #about {
      width: 360px;
      grid-area: about;
      height: auto;
      display: flex;
      flex-direction: column;
      background-color: #782221;
      color:#ffffff
    }
  
    /* Section a propos */
    #aboutme{
      width: 85%;
      display: flex;
      flex-direction: column;
      }
  
    .about{
      width: 90%;
      text-indent: 15%;
      text-align:justify;
      margin:auto;
      padding-left: 10px;
    }
  
    .h3about{
      width: auto;
      background-color: #dbc2a4;
      color:#000000;
      align-self: auto;
      background-position: left;
      border-left-width: 0;
    }
  
    /* Section langue */
    #language{
      width: 85%;
      display: flex;
      flex-direction: column;
    }
  
    .listlanguage{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: auto;
      padding-left: 30px;
    }
  
    /* Section intérêt*/
    #interest{
      width: 85%;
      display: flex;
      flex-direction: column;
    }
  
    .interest{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: auto;
      padding-left: 30px;
    }
  
    /* formattage titres H3 */  
    h3{
      background-color: #dbc2a4;
      text-indent: 5px;
    }

    h3:hover{
      border-left: 7px solid #782221;
      text-indent: 5px;
    }
  
    /* formattage colonne expérience*/  
    #exp{
      width: 95%;
      align-self: center;
    }

    .expfull{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .exp1:hover{
      border-left: 7px solid #782221;
      padding-left: 5px;
    }

    .exp2:hover{
      border-left: 7px solid #782221;
      padding-left: 5px;
    }


    /* formattage colonne diplôme */  
    #diplom{
      width: 95%;
      align-self: center;
    }
    
    .diplomfull{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 30px;
    }

    .diplom1:hover{
      border-left: 7px solid #782221;
      padding-left: 5px;
    }

    .diplom2:hover{
      border-left: 7px solid #782221;
      padding-left: 5px;
    }
    
    /* formattage colonne intérêts */  
    #skills{
      width: 95%;
      align-self: center;
    }

    .skillslist{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .skillslist:hover{
      border-left: 7px solid #782221;
    }
    
    /* formattage SNS */
    #sns{
      width: 100%;
      height: auto;
      grid-area: sns;
      background-color: #782221;
      color: #ffffff;
    }
  
    .listtype{
      width: auto;
      list-style-type: none;
      justify-content: center;
    }
  
    .imagesize{
      max-width: 52px;
      max-height: 52px;
      padding: 10px 5px 5px;
    }
  
    .footertext{
      width: auto;
      text-align: center;
    }
